MOOClient/Service References/MOOService/MOO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MOO.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MOO.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/MOO?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="NextUpdate" type="ser:duration" />
      <xs:element minOccurs="0" name="Stardate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateInterval" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateData" nillable="true" type="tns:UpdateData" />
</xs:schema>