MOOClient/Service References/MOOService/MOO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MOO.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MOO.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlanet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planet" nillable="true" type="tns:Planet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanet" nillable="true" type="tns:ArrayOfPlanet" />
  <xs:complexType name="Planet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MaxPopulation" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orbit" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Population" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planet" nillable="true" type="tns:Planet" />
  <xs:complexType name="ArrayOfFormation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Formation" nillable="true" type="tns:Formation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormation" nillable="true" type="tns:ArrayOfFormation" />
  <xs:complexType name="Formation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ships" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Formation" nillable="true" type="tns:Formation" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element name="item" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
</xs:schema>