MOOClient/Service References/MOOService/MOO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MOO.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MOO.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlanet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Planet" nillable="true" type="tns:Planet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanet" nillable="true" type="tns:ArrayOfPlanet" />
  <xs:complexType name="Planet">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="maxPopulation" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orbit" type="xs:int" />
      <xs:element minOccurs="0" name="population" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Planet" nillable="true" type="tns:Planet" />
</xs:schema>