MOOClient/Service References/MOOService/MOO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/MOO?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MOO.Types" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MOO.Types" minOccurs="0" name="GetPlanetsResult" nillable="true" type="q1:ArrayOfPlanet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MOO.Types" minOccurs="0" name="GetFormationsResult" nillable="true" type="q2:ArrayOfFormation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MOO.Types" minOccurs="0" name="command" nillable="true" type="q3:CommandC.Base" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IssueCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stardate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>