MOOClient/Service References/MOOService/MOOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MOOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IMOOService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/MOO?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/MOO?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/MOO?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MOO.Service" />
      <xsd:import schemaLocation="http://localhost:8000/MOO?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MOO.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMOOService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IMOOService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IMOOService_GetUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdate" />
  </wsdl:message>
  <wsdl:message name="IMOOService_GetUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IMOOService_GetPlanets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanets" />
  </wsdl:message>
  <wsdl:message name="IMOOService_GetPlanets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanetsResponse" />
  </wsdl:message>
  <wsdl:message name="IMOOService_GetFormations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFormations" />
  </wsdl:message>
  <wsdl:message name="IMOOService_GetFormations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFormationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMOOService_IssueCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueCommand" />
  </wsdl:message>
  <wsdl:message name="IMOOService_IssueCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueCommandResponse" />
  </wsdl:message>
  <wsdl:portType name="IMOOService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMOOService/Authenticate" message="tns:IMOOService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMOOService/AuthenticateResponse" message="tns:IMOOService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMOOService/GetUpdate" message="tns:IMOOService_GetUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMOOService/GetUpdateResponse" message="tns:IMOOService_GetUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <wsdl:input wsaw:Action="http://tempuri.org/IMOOService/GetPlanets" message="tns:IMOOService_GetPlanets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMOOService/GetPlanetsResponse" message="tns:IMOOService_GetPlanets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFormations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMOOService/GetFormations" message="tns:IMOOService_GetFormations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMOOService/GetFormationsResponse" message="tns:IMOOService_GetFormations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IMOOService/IssueCommand" message="tns:IMOOService_IssueCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMOOService/IssueCommandResponse" message="tns:IMOOService_IssueCommand_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMOOService" type="tns:IMOOService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IMOOService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap:operation soapAction="http://tempuri.org/IMOOService/GetUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <soap:operation soapAction="http://tempuri.org/IMOOService/GetPlanets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormations">
      <soap:operation soapAction="http://tempuri.org/IMOOService/GetFormations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueCommand">
      <soap:operation soapAction="http://tempuri.org/IMOOService/IssueCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetNamedPipeBinding_IMOOService" type="tns:IMOOService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IMOOService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/IMOOService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap12:operation soapAction="http://tempuri.org/IMOOService/GetUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanets">
      <soap12:operation soapAction="http://tempuri.org/IMOOService/GetPlanets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFormations">
      <soap12:operation soapAction="http://tempuri.org/IMOOService/GetFormations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueCommand">
      <soap12:operation soapAction="http://tempuri.org/IMOOService/IssueCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOOService">
    <wsdl:port name="BasicHttpBinding_IMOOService" binding="tns:BasicHttpBinding_IMOOService">
      <soap:address location="http://localhost:8000/MOO/MOOService" />
    </wsdl:port>
    <wsdl:port name="NetNamedPipeBinding_IMOOService" binding="tns:NetNamedPipeBinding_IMOOService">
      <soap12:address location="net.pipe://localhost/MOO/MOOService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/MOO/MOOService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Heux\Ville</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>